* {
  font-family: Arial, sans-serif;
}
.label {
  display: flex;
  height: 44px;
  padding: 0 16px;
  font-size: 14px;
  align-items: center;
  color: #2b2b2b;
}

.field {
  height: 44px;
}

.button {
  margin-top: 22px;
  padding: 12px 18px;
  border: none;
  background: #5e61ff;
  font-size: 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}
